body{
background-image: url("./img/background2.jpg");
    background-size: cover;
    font-family: sans-serif;
}
.content{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content: center;
    text-align: center;

}
.scoreboard{
    justify-content: center;

    width: 30%;
    height: 14%;
    margin: 0 auto;
    position: relative;
    background-image: url("./img/board.jpeg");
    border: 5px solid #771f00 ;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.scoreboard h1{
    position: relative;
    text-align: center;
    padding-top: 1%;
    margin: 0;
    color: #771f00;
}


.score{
    display: flex;
    justify-content: center;

}

.battlefield{

    position: relative;
    width: 100%;
    height: 40%;
    justify-content: center;


}
.chosen img{
    width: 50%;
    height: auto;
}
.chosen{

    margin-top: 5%;
    margin-bottom: 5%;
    height: 200px;
    width: 30%  ;
    border: solid 10px #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    text-align: center;
}
.leftCh{
    float:left;
    margin-left: 17%;

}
.rightCh{
    float:right;
    margin-right: 17%;

}
.winner{
    border: solid 10px #771f00;
}
.won{

    height: 256px;
        top: 25%;
        position: relative;
    width: 35%  ;
    margin-left: 30%;

}


.playArea{
    width: 100%;
    height: 50%;
    top:50%;
    margin: 0 auto;

}
#info{
    text-align: center;
    color: #771f00;
    font-size: 250%;
    width: 100%;
    margin: 0 auto;
    text-shadow: 0 0 3px #000000;

}
.hidden{
    display: none;
}


.playButtons{
    width:100%;
    height: 100%;
    top:25%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}
.playButtons button{
    display: inline-block;
    width: 20%;
    height: 20%;
    background-image: url("./img/board.jpeg");
    text-align: center;
    margin:0 1rem;
    transition:all .5s ease;
    color:#41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 7px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);

}




.playButtons img{
    width: 49%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#again{
    padding:1rem 1rem;
    margin:5% 40%;
    transition:all .5s ease;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 7px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    text-align: center;
    color: #41403E;
    font-size: 250%;
    background-image: url("./img/board.jpeg");

}